


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    
}


/* if the viewport is equal to 340px or less than that */ 
@media (max-width: 970px){
    #menulogo{
        display: block;
        font-size: 2.4rem;
        margin: 1px 10px;
    }
    #backlogo{
        display: block;
        margin-left: 150px;
        margin-bottom: 30px;
        font-size: 2.4rem;
        
    }
    

    #navvy{
        background-color: rgb(2, 18, 29);
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 0;
        position: fixed;
        margin-left: 0px;
        margin-top: 275px;
        text-align: center;
        justify-content: center;
        overflow-x: hidden;
        transition: 0.4s;
        opacity: 0.77;
    }

     
      
    #navvy li a{
        color:white;
        text-decoration: none;
        display:block;
        padding: 10px 5px;
        font-size: 1.4rem;
        margin: 1px 26px;
        /* transition: 0.1s; */
    }
    #home{
        display: flex;
        flex-direction: column;
        height: 430px;
        /* justify-content: center; */
        /* align-items: center; */
    }
    
    #home::before{
        content: "";
        background-image: linear-gradient(to right, #111929, #21364e);
        position: absolute;
        height: 431px;
        width: 100%;
        z-index: -1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    }
    #home img{
        height: 125px;
        width: 125px;
        margin-left: 211px;
        margin-top: 72px;
    }
    
    /* #hwriten{
        
        text-align: center;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .smaller{
        font-size: 1.5rem;
    }
    .larger{
        font-size: 2.5rem;
    } */
    #hwriten{
        text-align: center;
        margin-left: -62px;
        margin-top: 26px;
    }
    
    #hwriten h2{
        color: rgb(13, 73, 112);
        font-size: 1.5rem;
        font-family: 'Great Vibes', cursive;
    }
    #hwriten h1{
        color: rgb(13, 73, 112);
        font-size: 3rem;
        font-family: 'Great Vibes', cursive;
    }
    #hwriten h4{
        color: rgb(13, 73, 112);
        font-size: 1rem;
        font-family: 'Nova Flat', cursive;
    }
    
}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    
}